nav {
    position: fixed;
    top:0;
    width: 100%;
    height: 60px;
    z-index: 100;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #101522;
}

li {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: white;
    color: black;
}

li img {
    width: 55px;
    height: 55px;
    /* padding: 5px; */
}

.footer {
    flex-shrink: 0;
    text-align: center;
    background: #101522;
    color: white;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    padding: 3px;
    width: 100%;
}

.nav-item.logo {
    display: flex;
    cursor: pointer;
    align-items: center;
} 

.nav-item.logo span {
    font-size: 1.5rem;
}