.auth-container {
    width: 50%;
    margin: 0 auto;
    background: #fff;
    margin-top: 2rem;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 1rem;
    color: #3B4258;
}

.section-form {
    margin-top: 1rem;
    color: #3B4258;
}

a.btn-link {
    color: #3B4258;
    text-decoration: none;
    font-size: 700;
}

a.btn-link:hover {
    color: #95D43D;
    text-decoration: none;
}

.form-group.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.form-group label{
    /* margin-right: 2rem; */
    width: 55%;
}

.col-md-6 {
    width:70%;
}

.form-control {
    width: 95%;
    height: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1rem;
    box-shadow: 0 3px 3px #ccc;
}

.btn.btn-info {
    background: #101522;
    color: #fff;
    padding: 0.7rem 2.5rem;
    outline: none;
    font-size: 1rem;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover{
    background:#4b59f7;
}


.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row.errors {
    justify-content: center;
}

a.btn-link {
    display: inline-block;
}

.alert {
    width: 100%;
}

.alert-warning {
    color: #721c24;
    margin-top: 1rem;
}

.errors {
    background: #f8d7da;
    padding: 1rem;
    margin-bottom: 1rem;
}

.messages {
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
}