.main-section {
  padding: 70px 0;
}

.error {
  width: 75%;
  margin: 0 auto;
  margin-top:1rem;
  padding: 1rem 2rem;
  background: #f8d7da;
  border-color: #f5c6cb;
}

.error-msg {
  margin:0;
  color: #721c24;
}

.products {
  padding: 0 1rem;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card-img-top {
  width: 250px;
  height: 200px;
}

.result-container {
  padding: 0 2rem;
}

.brand-title {
  text-transform: capitalize;
}

h5.card-title {
  margin: 0;
  margin-bottom: 0.5rem;
}

p.card-price {
  margin:0;
  margin-bottom: 1rem;
}

a.btn {
  text-decoration: none;
  color: #fff;
  background: #111;
  padding: 0.2rem 1rem;
  margin-top:1rem;
  text-align: center;
  cursor: pointer;
}

.products .card {
  border: 1px solid #ccc;
  padding:0.5rem;
}

.products .card.selected {
  border: 1px solid crimson;
}


.loader-container {
  position:fixed;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a.btn.compare-btn {
  width: 25%;
  margin: 2rem auto;
  padding: 0.5rem 2rem;
}


/* Modal Popup Styles */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal.show {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  overflow: hidden;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal__header,
.modal__footer {
    height: 100px;
}
.modal__content,
.modal__footer {
    position: absolute;
    width: 100%;
}
.modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}
.modal__footer {
    bottom: 0;
}

.comparison-content {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.prod-info-row {
  display:grid;
  grid-template-columns: 1fr 2fr 2fr;
  width: 100%;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font-size: 14px;
}

.prod-info-row:last-child {
  border: none;
}

.info-label {
  text-align: left;
  font-weight: 700;
}

.info-value {
  text-align: center;
}

.prod-image img {
  width: 150px;
}


.prod-info > div {
  width: 25%;
}


/* Modal Styling */


/* Account */

.account-container {
  padding: 1rem 2.5rem;
}

.account-table {
  padding: 1rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding: 0 1rem;
}

.table-content {
  margin-top: 1rem;
}

.content-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
}